<div class="header">
    <img class="purple-image" src="assets/img/purple_shadow.png">
    <img class="green-image" src="assets/img/green_shadow.png">
    <div class="headline">
        <div class="text-part">
            <div class="i-am">
                <span translate>I am</span>
            </div>
            <div>
                <h1>DAVID OSIPOV</h1>
                <p translate>FRONTEND DEVELOPER</p>
            </div>
        </div>
        <a href="#contact">
            <button translate>Let´s talk!</button>
        </a>
    </div>
</div>