.purple-image {
    position: absolute;
    left: -260px;
    top: 100px;
}

.green-image {
    position: absolute;
    right: -450px;
    top: 25px;
}

.header {
    height: 600px;
    color: white;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.headline {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

    span {
        transform: rotate(-90deg);
        font-weight: 400;
        font-size: 5rem;
    }

    h1 {
        font-weight: 700;
        font-size: 6.5rem;
        margin: 0;
        box-sizing: border-box;
        padding-top: 2vh;
    }

    h2 {
        font-weight: 400;
        font-size: 3.5rem;
        color: #4B47FF;
        margin: 0;
        padding-bottom: 4vh;
    }
}

button {
    background-color: #00BEE8;
    border: none;
    width: 165px;
    height: 58px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-weight: 400;
    font-size: 23px;
    color: white;
    cursor: pointer;
    transition: all 225ms ease-in-out;

    &:hover {
        background-color: #4B47FF;
        transform: scale(1.2);
        transition: all 225ms ease-in-out;
    }
}