.purple-image {
    position: absolute;
    left: 0;

    @media (max-width: 1180px) {
        max-width: 55%;
        height: auto;
        top: 10%;
    }

    @media (max-width: 480px) {
        top: 10%;
    }

    @media (max-width: 350px) {
        top: 16%;
    }
}

.green-image {
    position: absolute;
    right: 0;
    top: 25px;

    @media (min-width: 1956px) {
        top: unset;
    }

    @media (max-width: 1180px) {
        max-width: 50%;
        height: auto;
        top: 12%;
    }

    @media (max-width: 600px) {
        top: 18%;
    }

    @media (max-width: 480px) {
        top: 20%;
    }
}

.header {
    height: 600px;
    color: white;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding-top: 100px;

    @media (min-width: 1956px) {
        height: unset;
    }

    @media (max-width: 1180px) {
        align-items: center;
        height: 68vh;
    }
}

.headline {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;

    h1 {
        font-weight: 700;
        font-size: 6vw;
        margin: 0;
        box-sizing: border-box;
        padding-top: 2vh;
        overflow-y: hidden;

        @media (min-width: 1956px) {
            font-size: 8em;
        }

        @media (max-width: 1180px) {
            font-size: 9vw;
            padding-top: 0;
            line-height: 125%;
        }
    }

    p {
        font-weight: 400;
        font-size: 3.5vw;
        color: #4B47FF;
        margin: 0;
        padding-bottom: 4vh;

        @media (min-width: 1956px) {
            font-size: 5em;
        }

        @media (max-width: 1180px) {
            font-size: 6vw;
            padding-bottom: 0;
            line-height: 140%;
        }
    }
}

.text-part {
    display: flex;
    align-items: center;
}

.i-am {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 5vw;

    @media (min-width: 1956px) {
        font-size: 7em;
    }

    @media (max-width: 1180px) {
        font-size: 7vw;
    }
}

.iam {
    font-size: 3.25vw;

    @media (min-width: 1956px) {
        font-size: 0.65em;
    }

    @media (max-width: 1180px) {
        font-size: 4.25vw;
    }
}

a {
    text-decoration: none;
    margin-top: 15px;
}

button {
    background-color: #00BEE8;
    border: none;
    width: 165px;
    height: 58px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-weight: 400;
    font-size: 23px;
    color: white;
    cursor: pointer;
    transition: all 225ms ease-in-out;

    &:hover {
        background-color: #4B47FF;
        transform: scale(1.2);
        transition: all 225ms ease-in-out;
    }

    @media (max-width: 1180px) {
        width: 133px;
        height: 49px;
        font-size: 18px;
    }
}