<div class="about-me">
    <div id="about-me" class="about-me-left-area" data-aos="fade-right" data-aos-offset="500" data-aos-duration="500">
        <h2 translate>ABOUT ME</h2>

        <span translate>Hey, nice to meet you! I am David, a German-speaking Frontend Developer based near Nuernberg with experience in
            building web apps with JavaScript & Angular. I have written projects alone or in teams, based on clean code
            principles. You're welcome to visit my public portfolio.</span>
        <ul class="about-me-textarea">
            <li class="about-me-textarea-1">
                <img src="assets/img/about-me/lightbulb.png">
                <p translate>I am fascinated by the variety of possibilities in programming. Building projects from scratch and
                    the sense of achievement after finishing them are one of my favorite aspects. I am looking for an
                    opportunity to prove my skills as a junior frontend developer.</p>
            </li>
            <li class="about-me-textarea-1">
                <img src="assets/img/about-me/puzzle.png">
                <p translate>I am very glad to have found my place in the world of programming, now I am seeking a place in a
                    great team. My goal is to constantly learn and grow. I am highly motivated and excited to master new
                    challenges and to learn from them every day.</p>
            </li>
        </ul>
    </div>

    <div class="picture" data-aos="fade-left" data-aos-duration="225">
        <img src="assets/img/about-me/player_1.png">
    </div>

    <img class="floating-background" src="assets/img/floating-background.png">
</div>