.about-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10% 0 10%;
    position: relative;

    :target::before {
        content: '';
        display: block;
        height: 40px;
        margin: 40px 0 0 0;
    }

    @media (max-width: 1180px) {
        padding: 0 5%;
        flex-direction: column-reverse;
    }

    @media (max-width: 400px) {
        margin-top: 20px;
    }

    h2 {
        color: white;
        font-weight: 700;
        font-size: 7vh;
        margin-top: 5%;
        margin-bottom: 0;
        width: 110%;

        @media (max-width: 1250px) {
            font-size: 6vh;
        }
    }
}

.about-me-left-area {
    width: 471px;

    @media (max-width: 1180px) {
        width: 100%;
        z-index: 3;
        margin-top: -250px;
    }

    @media (max-width: 800px) {
        margin-top: -320px;
    }

    @media (max-width: 450px) {
        margin-top: -380px;
    }

    @media (max-width: 389px) {
        margin-top: -200px;
    }

    span {
        color: white;

        @media (max-width: 450px) {
            font-size: 14px;
        }
    }

    li {
        list-style: none;

        img {
            @media (max-width: 500px) {
                width: 35px;
            }
        }
    }
}

.about-me-textarea {
    color: white;
    padding: 0;
    margin: 0;
}

.about-me-textarea-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
        flex-basis: 85%;
        margin-bottom: 0;

        @media (max-width: 450px) {
            font-size: 14px;
        }
    }
}

.picture {
    position: relative;
    background: url('^assets/img/image-background-shadow.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 60px;
    width: 60vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    @media (max-width: 1600px) {
        width: 40vw;
        height: 86vh;
    }

    @media (max-width: 1180px) {
        width: 100vw;
        height: 100vh;
        margin-top: unset;
    }

    @media (max-width: 800px) {
        background-position: center top;
    }

    img {
        height: 600px;
        z-index: -1;

        @media (max-width: 1180px) {
            margin-bottom: 250px;
        }

        @media (max-width: 600px) {
            width: 80vw;
            height: auto;
        }
    }
}

.floating-background {
    z-index: 2;
    position: absolute;
    width: 100vw;
    left: 0;
    top: 65vh;

    @media (max-width: 1180px) {
        top: 52vh;
    }

    @media (max-width: 800px) {
        top: 57vh;
    }

    @media (max-width: 500px) {
        top: 35%;
        height: 450px;
    }

    @media (max-width: 400px) {
        top: 36%;
    }

    @media (max-width: 399px) {
        top: 35%;
    }

    @media (max-width: 361px) {
        top: 30%;
    }
}