.about-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    position: relative;

    :target::before {
        content: '';
        display: block;
        height: 40px;
        margin: 40px 0 0 0;
    }

    @media (max-width: 1180px) {
        padding: 0 5%;
        flex-direction: column-reverse;
    }

    h2 {
        color: white;
        font-weight: 700;
        font-size: 90px;
        margin-top: 5%;
        margin-bottom: 0;
        width: 110%;

        @media (max-width: 1250px) {
            font-size: 6vw;
        }

        @media (max-width: 1180px) {
            font-size: 11vw;
        }
    }
}

.about-me-left-area {
    width: 471px;

    @media (max-width: 1180px) {
        width: 100%;
        padding-top: 50px;
    }
}

span {
    color: white;
}

li {
    list-style: none;
}

.about-me-textarea {
    color: white;
    padding: 0;
    margin: 0;
}

.about-me-textarea-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
    padding-left: 30px;

    p {
        flex-basis: 80%;
    }
}

.picture {
    background: url('^assets/img/image-background-shadow.png');
    background-position: center;
    background-size: cover;
    margin-top: 120px;

    img {
        @media (max-width: 600px) {
            width: 80vw;
            height: auto;
        }
    }
}

.floating-background {
    z-index: -4;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 620px;

    @media (max-width: 800px) {
        height: 30vh;
    }

    @media (max-width: 500px) {
        top: 31%;
    }

    @media (max-width: 400px) {
        top: 28%;
    }
}