<div class="about-me">
    <div id="about-me" class="about-me-left-area" data-aos="fade-right" data-aos-offset="500" data-aos-duration="500">
        <h2>ABOUT ME</h2>

        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, sed aut? Officiis corporis blanditiis,
            reiciendis possimus, enim tempora illum explicabo, fugiat sed error accusantium deserunt quidem neque quis
            iste nulla!</span>
        <ul class="about-me-textarea">
            <li class="about-me-textarea-1">
                <img src="assets/img/about-me/lightbulb.png">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, deleniti itaque. Officia numquam
                    laboriosam sapiente beatae a explicabo quis</p>
            </li>
            <li class="about-me-textarea-1">
                <img src="assets/img/about-me/puzzle.png">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, deleniti itaque. Officia numquam
                    laboriosam sapiente beatae a explicabo quis</p>
            </li>
        </ul>
    </div>

    <div class="picture" data-aos="fade-left" data-aos-duration="225">
        <img src="assets/img/about-me/player_1.png">
    </div>

    <img class="floating-background" src="assets/img/floating-background.png">
</div>