<div class="icons-scroll">
    <div class="icons">
        <div class="border"></div>
        <div class="icons-row">
            <a href="https://github.com/davidosi93" target="_blank"><img
                    src="assets/img/reference-icons/github.png"></a>
            <a href="https://www.linkedin.com/in/david-osipov-513949284/" target="_blank"><img
                    src="assets/img/reference-icons/linkedin.png"></a>
        </div>
    </div>

    <div class="scroll-down">
        <p translate>SCROLL DOWN</p>
        <img src="assets/img/scroll-down.png">
    </div>
</div>