<div id="skills" class="skills">
    <a class="mobile-button" href="#contact"><button>Get in touch</button></a>
    <div class="skills-logos-row" data-aos="fade-down">
        <div class="skills-logos">
            <div class="column-1">
                <img src="/assets/img/skills/Javascript.png">
                <p>JavaScript</p>
            </div>
            <div class="column-1">
                <img src="/assets/img/skills/git.png">
                <p>GIT</p>
            </div>
            <div class="column-1">
                <img src="/assets/img/skills/scrum.png">
                <p>Scrum</p>
            </div>
            <div class="column-1">
                <img src="/assets/img/skills/material-design.png">
                <p class="material-design">Material<br>design</p>
            </div>
        </div>

        <div class="skills-logos">
            <div class="column-1">
                <img src="/assets/img/skills/Angular.png">
                <p>Angular</p>
            </div>
            <div class="column-1">
                <img src="/assets/img/skills/Firebase.png">
                <p>Firebase</p>
            </div>
            <div class="column-1">
                <img src="/assets/img/skills/api.png">
                <p>Rest-API</p>
            </div>
        </div>

        <div class="skills-logos">
            <div class="column-1">
                <img src="/assets/img/skills/typescript.png">
                <p>Typescript</p>
            </div>
            <div class="column-1">
                <img src="/assets/img/skills/css.png">
                <p>CSS</p>
            </div>
        </div>

        <div class="skills-logos">
            <div class="column-1">
                <img src="/assets/img/skills/html.png">
                <p>HTML</p>
            </div>
        </div>
    </div>

    <div class="skills-header">
        <div class="skills-headline">
            <h2>SKILLS</h2>
            <div class="border"></div>
        </div>
        <div class="skills-text-btn">
            <p>I have gained experience in building projects with various front end technologies and concepts.</p>
            <a href="#contact"><button>Get in touch</button></a>
        </div>
    </div>
</div>