.skills {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25% 10% 0% 10%;
    position: relative;
    top: -100px;

    @media (max-width: 1180px) {
        padding: 0 5%;
        flex-direction: column-reverse;
        top: 10vh;
        align-items: center;
        height: unset;
    }
}

.skills-logos-row {
    display: flex;
    width: 650px;
    justify-content: space-between;
    z-index: 3;

    @media (max-width: 1180px) {
        width: 100%;
    }
}

.skills-logos {
    display: flex;
    flex-direction: column;
}

.column-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;

    @media (max-width: 1180px) {
        margin-bottom: unset;
    }

    img {
        &:hover {
            animation: bounce 1.5s ease 0s 1 normal forwards;
        }

        @media (max-width: 750px) {
            width: 40px;
            height: 40px;
        }
    }

    p {
        font-weight: 700;
        font-size: 16px;
        color: white;

        @media (max-width: 360px) {
            font-size: 14px;
        }
    }
}

.material-design {
    text-align: center;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    10%,
    30%,
    50%,
    70% {
        transform: translateY(-8px);
    }

    20%,
    40%,
    60% {
        transform: translateY(8px);
    }

    80% {
        transform: translateY(6.4px);
    }

    90% {
        transform: translateY(-6.4px);
    }
}

.skills-header {
    color: white;

    h2 {
        font-size: 90px;
        font-weight: 700;
        margin: 0;

        @media (max-width: 880px) {
            font-size: 10vw;
        }
    }
}

.skills-headline {
    display: flex;
    align-items: center;
}

.border {
    border: 2.5px solid #1CE6B6;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: absolute;
    right: 0;
    width: 15%;

    @media (max-width: 1180px) {
        width: 45vw;
    }
}

.border-de-lang {
    width: 9%;
}

.skills-text-btn {
    p {
        width: 460px;

        @media (max-width: 1180px) {
            width: unset;
        }
    }

    a {
        text-decoration: none;
    }

    button {
        background-color: #00BEE8;
        border: none;
        width: 165px;
        height: 58px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        font-weight: 400;
        font-size: 23px;
        color: white;
        cursor: pointer;
        transition: all 225ms ease-in-out;
        display: block;

        @media (max-width: 1180px) {
            display: none;

        }

        &:hover {
            background-color: #4B47FF;
            transform: scale(1.2);
            transition: all 225ms ease-in-out;
        }
    }
}

.mobile-button {
    display: none;
    z-index: 2;
    margin-top: 4%;

    button {
        background-color: #00BEE8;
        border: none;
        width: 158px;
        height: 49px;
        font-size: 18px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        color: white;
        cursor: pointer;
        transition: all 225ms ease-in-out;

        &:hover {
            background-color: #4B47FF;
            transform: scale(1.2);
            transition: all 225ms ease-in-out;
        }
    }

    @media (max-width: 1180px) {
        display: block;
    }
}