.portfolio-header {
    padding-top: 100px;
    width: 100vw;
    margin: 0 auto;
    max-width: 1920px;

    @media (max-width: 1180px) {
        padding-top: 20%;
        position: unset;
        width: unset;
    }

    @media (max-width: 700px) {
        padding-top: 30%;
    }
}

.border {
    border: 2.5px solid #4B47FF;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    left: 0;
    width: 8%;

    @media (max-width: 1180px) {
        width: 3vw;
    }
}

.header {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-left: 10%;

    @media (max-width: 1180px) {
        padding: 0 5%;
    }


    h2 {
        font-weight: 700;
        font-size: 90px;
        color: white;
        margin: 0;

        @media (max-width: 1180px) {
            font-size: 11vw;
        }
    }

    p {
        font-weight: 400;
        font-size: 16px;
        color: white;
    }
}

.header-content {
    display: flex;
    align-items: center;
}

.green-shadow-portfolio {
    position: absolute;
    right: 0;
}

.blue-shadow-portfolio {
    position: absolute;
    left: 0;
    top: 3500px;

    @media (max-width: 400px) {
        height: 75vh;
    }
}

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 3% 10% 0 10%;
    overflow-y: hidden;
    margin: 0 auto;
    max-width: 1956px;

    @media (max-width: 1180px) {
        padding: 0 5%;
    }
}

.project {
    position: relative;
    width: 600px;
    max-height: 600px;
    aspect-ratio: 1/1;
    background: #141D2F;
    border: 1px solid #00BEE8;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 17px;

    @media (max-width: 1180px) {}

    &:hover .hover-content {
        display: block;
        cursor: pointer;
        animation: hover-content 225ms normal both;
    }

    &:hover .project-image {
        transform: scale(2);
        transition: all 225ms ease-in-out;
    }

    &:hover .project-image-join {
        transform: scale(2);
        transition: all 225ms ease-in-out;
    }

    &:hover .project-image-pokedex {
        transform: scale(2);
        transition: all 225ms ease-in-out;
    }

    &:hover .project-image-crm {
        transform: scale(2);
        transition: all 225ms ease-in-out;
    }
}

@keyframes hover-content {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0.1;
    }

    20% {
        opacity: 0.2;
    }

    40% {
        opacity: 0.4;
    }

    50% {
        opacity: 0.5;
    }

    60% {
        opacity: 0.6;
    }

    70% {
        opacity: 0.7;
    }

    80% {
        opacity: 0.8;
    }

    90% {
        opacity: 0.9;
    }

    100% {
        opacity: 1;
    }
}

.project-image {
    background: url('^assets/img/portfolio/pollo_locco.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
    transition: all 225ms ease-in-out;
}

.hover-content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(20, 29, 47, 0.8);
    display: none;
}

.project-button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 250px;

    @media (max-width: 1180px) {
        height: 40%;
    }

    a {
        text-decoration: none;
        color: white;
        width: 137px;
        height: 58px;
        border: 1px solid #00BEE8;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 400;
        font-size: 23px;

        @media (max-width: 450px) {
            width: 114px;
            height: 49px;
            font-size: unset;
        }
    }
}

.github-button {
    transition: all 125ms ease-in-out;

    &:hover {
        background-color: #1CE6B6;
        transition: all 125ms ease-in-out;
        border: none !important;
    }
}

.livetest-button {
    background-color: #4B47FF;
    border: none !important;
    transition: all 125ms ease-in-out;

    &:hover {
        background-color: #00BEE8;
        transition: all 125ms ease-in-out;
    }
}

.project-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 350px;
    background-color: white;
    border-radius: 15px;
    padding: 0 5%;

    @media (max-width: 1180px) {
        height: 60%;
        justify-content: center;
    }

    h3 {
        font-weight: 700;
        font-size: 32px;
        color: #4B47FF;

        @media (max-width: 450px) {
            font-size: 23px;
            margin: 0;
        }

        @media (max-width: 400px) {
            font-size: 18px;
            margin: 0;
        }
    }

    span {
        font-weight: 400;
        font-size: 23px;
        text-align: center;

        @media (max-width: 450px) {
            font-size: unset;
            margin: 0;
        }

        @media (max-width: 400px) {
            font-size: 13px;
        }
    }

    p {
        font-weight: 400;
        font-size: 23px;
        color: #00BEE8;

        @media (max-width: 450px) {
            font-size: unset;
            margin: 0;
        }

        @media (max-width: 400px) {
            font-size: 15px;
            margin: 0;
        }
    }
}

.project-image-join {
    background: url('^assets/img/portfolio/Join.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
    transition: all 225ms ease-in-out;
    position: absolute;
}

.project-image-pokedex {
    background: url('^assets/img/portfolio/pokedex.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
    transition: all 225ms ease-in-out;
    position: absolute;
}

.project-image-crm {
    background: url('^assets/img/portfolio/simple_crm.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
    transition: all 225ms ease-in-out;
    position: absolute;
}