<div class="portfolio-header">
    <img src="/assets/img/portfolio/LINE 3.png">
    <div class="header">
        <h2>Portfolio</h2>
        <p>This page is a sample of my work! scroll down to view other <br> projects I have develosped.</p>
    </div>
</div>

<img class="green-shadow-portfolio" src="/assets/img/portfolio/green-shadow-portfolio.png">

<div class="projects">
    <div class="project">
        <div class="project-image"></div>
        <div class="hover-content">
            <div class="project-button">
                <a class="github-button" href="#">Github</a>
                <a class="livetest-button" href="http://david-osipov.developerakademie.net/Pollo_Loco/index.html" target="_blank" >Live Test</a>
            </div>
            <span class="project-description">
                <h3>EL Pollo Loco</h3>
                <span>Jump, run and throw game based on object-oriented approach. Help Pepe to find coins and
                    tabasco salsa to fight against the crazy hen.</span>
                <p>JavaScript | HTML | CSS</p>
            </span>
        </div>

    </div>

    <div class="project">

    </div>
</div>