<div id="portfolio" class="portfolio-header">
    <div class="header">
        <div class="header-content">
            <div class="border"></div>
            <h2>Portfolio</h2>
        </div>
        <p translate>This page is a sample of my work! scroll down to view other <br> projects I have developed.</p>
    </div>
</div>

<img class="green-shadow-portfolio" src="assets/img/portfolio/green-shadow-portfolio.png">
<img class="blue-shadow-portfolio" src="assets/img/portfolio/blue-shadow.png">

<div class="projects">
    <div class="project" data-aos="fade-down-right" data-aos-offset="450" data-aos-duration="500">
        <div class="project-image"></div>
        <div class="hover-content">
            <div class="project-button">
                <a class="github-button" href="https://github.com/davidosi93/El-Pollo-Loco" target="_blank">Github</a>
                <a class="livetest-button" href="https://david-osipov.developerakademie.net/Pollo_Loco/index.html"
                    target="_blank">Live Test</a>
            </div>
            <span class="project-description">
                <h3>EL Pollo Loco</h3>
                <span translate>Jump, run and throw game based on object-oriented approach. Help Pepe to find coins and
                    tabasco salsa to fight against the crazy hen.</span>
                <p>JavaScript | HTML | CSS</p>
            </span>
        </div>
    </div>

    <div class="project" data-aos="fade-down-left" data-aos-offset="450" data-aos-duration="500">
        <div class="project-image-join"></div>
        <div class="hover-content">
            <div class="project-button">
                <a class="github-button" href="https://github.com/davidosi93/JOIN-Kanban-Project-Management-Tool"
                    target="_blank">Github</a>
                <a class="livetest-button"
                    href="https://gruppenarbeit-join.david-osipov.com/index.html" target="_blank">Live
                    Test</a>
            </div>
            <span class="project-description">
                <h3>JOIN</h3>
                <span translate>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop
                    functions, assign users and categories.</span>
                <p>JavaScript | HTML | CSS</p>
            </span>
        </div>
    </div>

    <div class="project" data-aos="fade-up-right" data-aos-offset="450" data-aos-duration="500">
        <div class="project-image-pokedex"></div>
        <div class="hover-content">
            <div class="project-button">
                <a class="github-button" href="https://github.com/davidosi93/pokedex/tree/main"
                    target="_blank">Github</a>
                <a class="livetest-button" href="https://david-osipov.developerakademie.net/pokedex/index.html"
                    target="_blank">Live Test</a>
            </div>
            <span class="project-description">
                <h3>Pokédex</h3>
                <span translate>Based on the PokeAPI a simple library that provides and catalogues pokemon information.</span>
                <p>JavaScript | HTML | CSS | Api</p>
            </span>
        </div>
    </div>

    <div class="project" data-aos="fade-up-left" data-aos-offset="450" data-aos-duration="500">
        <div class="project-image-crm"></div>
        <div class="hover-content">
            <div class="project-button">
                <a class="github-button" href="https://github.com/davidosi93/El-Pollo-Loco" target="_blank">Github</a>
                <a class="livetest-button" href="https://david-osipov.developerakademie.net/Pollo_Loco/index.html"
                    target="_blank">Live Test</a>
            </div>
            <span class="project-description">
                <h3>Simple CRM</h3>
                <span translate>A very Simple Customer Relationship Management system working with CRUD functionality.</span>
                <p>Angular | Firebase</p>
            </span>
        </div>
    </div>
</div>