header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: #141D2F;
    height: 100px;
    z-index: 40;
}

.header-menu {
    width: 100%;
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (min-width: 1919px) {
        max-width: 1920px;
        margin: 0 auto;
        padding: unset;
    }

    @media (max-width: 1180px) {
        padding: 0 5%;
    }

    @media (max-width: 600px) {
        height: 70px;
    }
}

.logo {
    height: 80px;
    cursor: pointer;

    @media (max-width: 600px) {
        height: 50px;
    }
}

menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        text-decoration: none;
        color: white;
        font-size: 23px !important;
        font-weight: 300 !important;
        transition: all 125ms ease-in-out;
        margin-left: 15px;
        cursor: pointer;

        &:hover {
            color: #00BEE8;
            transition: all 125ms ease-in-out;
        }
    }

    img {
        cursor: pointer;
        transition: all 125ms ease-in-out;
        margin-left: 20px;

        &:hover {
            opacity: 0.7;
            transition: all 125ms ease-in-out;
        }
    }

    @media (max-width: 1180px) {
        display: none;
    }
}

.mobile-icons-visibility {
    display: none;

    @media (max-width: 1180px) {
        display: block;
    }
}

.mobile-icons {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    width: 100px;

    img {
        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }
    }
}

.burger-menu {
    display: none;

    @media (max-width: 1180px) {
        display: block;
        cursor: pointer;
    }
}

.header-menu-mobile-top {
    display: none;

    @media (max-width:1180px) {
        display: block;
    }
}

.header-menu-mobile {
    z-index: 666;
    width: 100vw;
    height: 100vh;
    background-color: rgba(20, 29, 47, 0.9);
    position: fixed;
    top: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 600px) {
        top: 70px;
    }
}

.menu-links {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 20px;
    cursor: pointer;

    a {
        color: white;
        text-decoration: none;
        font-size: 23px;

        &:active {
            color: #00BEE8;
            text-decoration: underline;
            text-decoration-color: #6f0da7;
        }
    }
}

.burger-menu {
    cursor: pointer;
}