.scroll-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 20px;
    top: 675px;
    color: white;
    gap: 5px;

    p {
        writing-mode: vertical-rl;
        font-weight: 400;
        font-size: 23px;
    }

    img {
        width: 24px;
        height: 24px;
    }
}